#sidebar_wrap {
  width: 100%;
  height: 100%;
  /* max-height: 1080px; */
  /* background-color: wheat; */

  overflow: auto;

  margin: 0 auto;
}
#sidebar_wrap::-webkit-scrollbar {
  width: 5px;
}
#sidebar_wrap::-webkit-scrollbar-track {
  background-color: #aaaaaa;
}
#sidebar_wrap::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ff6c4f;
}
#sidebar_wrap::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

#sidebar_link {
  background-color: white;
}
#sidebar_link > p {
  font-weight: 900;
  color: black;
  /* font-size: 35px; */
  font-size: 32px;

  width: 70%;
  margin: auto;
  text-align: right;

  padding-top: 37px;
  padding-bottom: 30px;
}


.link_box {
  width: 70%;
  margin: auto;

  padding-bottom: 25px;
}
.link_box:last-child { padding-bottom: 70px; }
.link_box > div:nth-child(1) {
  /* background-color: red; */
  width: 100%;
  height: 90px;

  position: relative;

  cursor: default;

  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
}
.link_box > div:nth-child(1) > div {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.link_box > div:nth-child(1) > div > p {
  font-weight: 300;
  font-size: 14px;
  color: black;
}
.link_box > div:nth-child(1) > div > p:first-child {
  font-style: italic;
  font-weight: 700;
  font-size: 25px;
}
.link_box > div:nth-child(1) > img {
  /* height: 90%; */
  position: absolute;
  right: 0px;
  top: 7px;
}
#link_razenicon {
  height: 77%;
}
#link_aishcoolicon {
  height: 60%;
  right: 10px;
}
#link_githubicon {
  height: 74%;
}
.link_box > div:nth-child(2) {
  width: 100%;
  height: 35px;
  /* background-color: blue; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.link_box > div:nth-child(2) > div:first-child {
  width: 30px;
  height: 30px;
  min-width: 30px;
  background-color: #f55610;
  border-radius: 100px;
  
  position: relative;

  overflow: hidden;

  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  transition-duration: 0.4s;
}
.link_box:hover > div:nth-child(2) > div:first-child {
  width: 150px;
  transition-duration: 0.8s;
}
.link_box > div:nth-child(2) > div:first-child > p {
  font-size: 15px;
  color: white;
  font-weight: 100;
}
.link_box:hover > div:nth-child(2) > div:first-child > p:first-child {
  transition-delay: 0.4s;
  transition-duration: 0.4s;
  content: "바로가기 ";
  opacity: 1;
  /* transform: translateX(0%); */

  left: 15%;
}
.link_box > div:nth-child(2) > div:first-child > p:first-child {
  transition-duration: 0.4s;
  /* transform: translateX(-100%); */
  opacity: 0;
  
  position: absolute;
  left: -200%;
}
.link_box > div:nth-child(2) > div:first-child > p:last-child {
  transition-duration: 0.8s;
  width: 100%;
  margin-right: 8px;

  font-size: 12px;
  text-align: right;
}
.link_box:hover > div:nth-child(2) > div:first-child > p:last-child {
  transition-duration: 0.8s;
  right: unset;
  transform: unset;
}
.link_box > div:nth-child(2) > hr {
  border: 1px solid transparent;
  margin-left: 15px;
  width: 100%;
  background-color: black;
}


#sidebar_team > p {
  font-weight: 900;
  color: black;
  font-size: 32px;

  width: 70%;
  margin: auto;
  text-align: right;

  padding-top: 33px;
  padding-bottom: 30px;
}
#sidebar_team > hr {
  width: 70%;
  margin: auto;
  
  margin-top: 10px;
  margin-bottom: 10px;
}
.team_box {
  width: 70%;
  
  margin: auto;

  font-size: 20px;
  font-weight: 500;
  color: rgb(100, 100, 100);
  /* color: rgb(88, 88, 88); */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.team_box:last-child {
  padding-bottom: 30px;
}
.tb-bold {
  font-weight: 700;
  /* font-size: 22px; */
}
.tb-orange {
  color: #ff6c4f;
  /* color: #000000; */
  /* color: #4286f5; */
}
.tb-blue {
  color: #4286f5;
  /* color: black; */
}
.tb-black {
  color: #000000;
}
.team_box {
  padding-bottom: 5px;
}