<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>SOGUMM</title>

    <link rel='stylesheet' href='/css/main3.css' />
    <link rel='stylesheet' href='/css/sidebar.css' />
    
    <script type='text/javascript'>
        function changeBar() {
            var el = document.getElementById('sidebar');
            var cl = el.className;
            
            // document.write('hello')
            if(cl == 'hide') {
                el.className = 'show';
            }
            else {
                el.className = 'hide';
            }
        }
        function toggleInfo() {
            var el = document.getElementById('cts_stt_info');
            el.classList.toggle('open');
        }
    </script>
    <script src="/js/lib/inherit.js"></script>
    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/eventemitter.js"></script>
    <script src="/js/lib/DetectRTC.js"></script>
    <script src="/js/utils.js"></script>
</head>

<body>
    
    <div id='sidebar' class='hide'>
        <div id="sidebar_wrap">
            <div>
                <p>LINK</p>
                <hr />

                <div>
                    <img src='/img/razenicon-c.png'>
                    <p>RAZEN</p>
                    <a href='#'>SITE</a>
                </div>
                <div>
                    <img src='/img/aischoolicon-c.png'>
                    <p>GWANGJU AI SCHOOL</p>
                    <a href='#'>SITE</a>
                </div>
                <div>
                    <img src='/img/githubicon-c.png'>
                    <p>SOGUMM</p>
                    <a href='#'>SITE</a>
                </div>
            </div>
            <div>
                <p>TEAM</p>
                <hr />

                <div>

                </div>
            </div>
        </div>
    </div>
    <div id='floatingbar'>

    </div>

    <div id="page">
        <div id="article_wrap">
            <div id="article_intro">
                <img src='/img/main_background.png' />
                <div class="article_inner">
                    <div id='intro_header'>
                        <!-- <h1>SOGEUM</h1> -->
                        <h1>SOGUMM</h1>

                        <div>
                            <img id='header_search' src='/img/magnifyingglass.png' />
                            <hr/>
                            <input type="text" id='header_linkio'/>
                        </div>
                    </div>
                    <div id="intro_article">
                        <img src='/img/menu_close.png' onclick='changeBar()' />
                        <p>언택트 시대, 소중한 지금을<br />소금에서 함께해요!</p>
                        <!-- <p>소금으로 팀플 과제도<br />간단하게!</p> -->

                        <a href='/conference' target='_self'>CREATE</a>
                    </div>
                    <img class='target' src='/img/targetu.png' />
                </div>
            </div>

            <div id="article_contents">
                <div class="contents_inner">
                    <div class="contents_wrap" id="cts_top">
                        <div class="contents_slide">
                            <ul>
                                <li>
                                    <p><strong>tip</strong>.&nbsp;&nbsp;<span style="color: #ff6c4f;">소금</span>이 처음이시면
                                        아래로 스크롤하여 기능을 살펴보세요</p>
                                </li>
                                <li>
                                    <p><strong>tip</strong>.&nbsp;&nbsp;좌측 중앙 <span
                                            style="color: #ff6c4f;">CREATE</span> 버튼을 누르시면 미팅을 시작하실 수 있습니다</p>
                                </li>
                                <li>
                                    <p><strong>tip</strong>.&nbsp;&nbsp;상단의 <span style="color: #ff6c4f;">검색상자</span>를
                                        누른 후 방 코드를 입력하면 입장할 수 있습니다</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="contents_wrap cts_padding cts_margin" id='cts_anywhere'>
                        <p class='contents_title'>어디서나</p>
                        <p class='contents_sub'>언제 어디서나 간편하게 온라인 교육과 미팅을 할 수 있게끔<br />어디에든 소금이 있을게요</p>
                        <img src='/img/contents_any.png' />
                    </div>
                    <div class="contents_wrap cts_padding" id='cts_nightmode'>
                        <div>
                            <p class='contents_title'>야간모드</p>
                            <p class='contents_sub'>장시간 학습에도 눈이 피로하지 않도록<br />소금이 도와드릴게요</p>
                        </div>
                        <div>
                            <img src='/img/contents_night.png' />
                            <img id='img_night_btn' src='/img/contents_night2.png' />
                        </div>

                        <p class='contents_dsc'>페이지의 밝기를 최대 80% 낮춰 어두운 곳에서 장시간 학습 시 눈의 피로를 줄일 수 있습니다</p>
                    </div>
                    <div class="contents_wrap cts_padding cts_margin" id="cts_stt">
                        <img id='img_stt' src='/img/contents_stt7.png' />
                        <div>
                            <p class='contents_title'>음성과 제스쳐<img src='/img/contents_soundeffct.png' /></p>
                            <p class='contents_sub'>사용자의 음성을 기반으로 다양한 형태의 자막을 생성하고<br />간단한 제스쳐로 컨텐츠를 이용할 수 있어요!</p>
                            <p class='contents_btn' onclick="toggleInfo()">자세히</p>
                        </div>
                    </div>
                    <div class="contents_wrap" id="cts_stt_info">
                        <div>
                            <!-- <p>asdfsd</p> -->
                        </div>
                    </div>
                    <div class="contents_wrap cts_padding cts_margin" id="cts_translate">
                        <img id='img_translate' src="/img/contents_translation.png" />
                        <div>
                            <p class='contents_title'>번역 & 문서저장</p>
                            <!-- <br />
                            <p class='contents_title'>&&nbsp;문서 저장</p> -->
                            <p class='contents_sub'>회의 및 학습 내용을 실시간으로 번역하고<br />소금이 작성한 필기 내용을 다양한 포맷의 문서로<br />저장할 수 있어요</p>
                        </div>
                    </div>
                    <div class="contents_wrap" id="cts_footer">
                        <!-- <p>팀 후동이 소금구이</p> -->
                        <div id="footer_icons">
                            <a href="https://razen.io/">
                                <div class="iconbox" id='bicon_razen'></div>
                            </a>
                            <a href="http://ai.gitct.kr/">
                                <div class="iconbox" id='bicon_aischool'></div>
                            </a>
                            <a href="https://github.com/inuinseoul/project-sogumm">
                                <div class="iconbox" id='bicon_github'></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/main3.js"></script>
    <script src="/js/lib/highlight.min.js"></script>
    <script src="/js/base.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>

</html>