<footer>
  <p><a href="https://docs.google.com/spreadsheets/d/1xYaz65o-kW99HgJdZwC05K9Em6Rkh3Ik0tgPDe417A8/edit#gid=0"
      target="_blank">&copy; made by 후동이소금구이</a></p>
</footer>

<script src="/js/lib/highlight.min.js"></script>
<script src="/js/base.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>

</html>