@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    font-family: "Noto Sans KR", sans-serif !important;
}

html, body {
    margin: 0;

    height: 100%;
    width: 100%;

    /* background-color: gray; */

    /* overflow: hidden; */
}
a, a:hover, a:visited, a:link {text-decoration: none;}


#page {
    max-width: 1920px;
    min-width: 300px;
    height: 100%;

    background-image: url('./meet_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left;    

    margin: 0 auto;

    /* background-color: violet; */
}

.icon {
    transition-duration: 0.2s;
}
/* .icon:hover {
    fill: yellow;
} */
.icon_on {
    /* fill: #ff5635; */
    fill: #ff6c4f;
}
.icon_off {
    fill: #c9c9c9;
}

.switch {
    position: relative;
    display: inline-block;

    width: 27px;
    height: 60px;

    margin-top: 5px;
    margin-bottom: 5px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b2b2b2;
    border: 3px solid #d0d0d0;
    border-radius: 100px;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: -3px;
    top: -3px;
    border: 3px solid #ff6c4f;
    border-radius: 1000px;
    background-color: #ffb3a4;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider:before {
    transform: translateY(33px);
}


#article_wrap {
    min-width: 100%;
    max-width: 100%;
    height: 100%;

    overflow: visible;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#article_inner {
    width: 90%;
    height: 100%;

    margin-left: 10%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
#article_side {
    /* min-width: 450px; */
    min-width: 200px;
    width: 30%;
    /* 255px */

    height: 100%;
    right: 0;

    /* min-height: 300px;
    max-height: 1080px; */
    background-color: #ff6c4f;
    box-shadow: -3px 0px 20px 0px rgba(255, 42, 0, 0.3);

    background-image: url('./meet_sidebg.png');
    background-repeat: no-repeat;
    background-size: 450%;
    background-position-y: top;
    background-position-x: 50%;    
    /* box-shadow: ; */
}
#result {
    /* background-color: rebeccapurple; */
    width: 90%;
    height: 80%;
 
    margin: 0 auto;
    margin-top: 5%;
    overflow: auto;

    /* box-shadow: inset 0px -20px 15px -15px #ff6c4f, inset 0px 20px 15px 15px #ff6c4f; */
}
#final_span > div {
    width: 100%;

    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    /* color: #444444; */

    margin-bottom: 10px;

    transition-duration: 0.5s;

    
    /*
    *   NIGHTMODE-OPTION
    */
    position: relative;
    z-index: 110;
}
#final_span > div:hover {
    background-color: rgba(255, 255, 255, 1);
}
#final_span.filter > div {
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.05);
}
#final_span.filter > div:hover {
    background-color: rgba(202, 110, 110, 0.4);
}
#final_span > div > p {
    margin: 0;
}
#final_span > div > p:nth-child(1) {
    padding: 20px 20px 10px 20px;
    line-height: 120%;
    text-align: justify;
    font-size: 22px;
    /* color: #444444; */
}
#final_span > div > p:nth-child(2) {
    padding: 0px 20px 15px 0px;

    font-size: 18px;
    text-align: right;
}
#result::-webkit-scrollbar {
    width: 2px;
}
#result::-webkit-scrollbar-track {
    background-color: transparent;
}
#result::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: transparent;
}
#result::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

#article_header {
    width: 82%;
    
    min-height: 140px;
    max-height: 140px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    /* background-color: slateblue; */
    
    /* overflow: hidden; */
}
#article_header > a > h1 {
    font-size: 70px;
    font-weight: 900;
    /* color: #ff6c4f; */

    line-height: 100%;
    
    margin: 0;
    
    padding-right: 40px;


    /*
    *   NIGHTMODE-OPTION
    */
    position: relative;
    z-index: 110;
}
#article_header > div {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
}
#article_header > .buttons > div {
    height: 50px;
    margin-bottom: 5px;
    margin-left: 30px;

    /*
    *   NIGHTMODE-OPTION
    */
    position: relative;
    z-index: 110;
}
#article_header .icon {
    height: 100%;
}
/* #article_header > .icon {
    height: 70px;
} */


#article_contents {
    width: 100%;
    height: calc(100% - 140px);
    /* background-color: blue; */

    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#article_contents p {
    margin: 0;
}
#contents_wrap {
    width: calc(82% - 5px);
    /* height: 80%; */
    /* min-height: 400px;
    max-height: 650px; */
    height: 100%;
    max-height: 1080px;

    position: relative;
    /* overflow: hidden; */

    /* border: 1px solid #898989; */
    /* border-radius: 5px; */
    /* background-color: darkgoldenrod; */

    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
#contents_viewer {
    position: relative;
    /* background-color: green; */
    
    /* top: 48%;
    transform: translateY(-50%); */
    width: 100%;
    height: calc( 100% - 5% );

    top: 5%;
}
#viewer_blur {
    width: 100%;
    /* height: 600px; */
    height: 75%;
    min-height: 200px;
    position: absolute;

    border-radius: 5px 5px 0px 0px;

    margin: 0;
    top: 0;
    backdrop-filter: blur(15px);
    /* background-color: red; */
}
#viewer_top {
    width: 100%;
    /* height: 600px; */
    height: 75%;
    min-height: 200px;
    /* max-height: ; */
    
    position: relative;
    
    overflow: hidden;

    border-top: 1px solid #898989;;
    border-right: 1px solid #898989;;
    border-left: 1px solid #898989;;
    border-radius: 5px 5px 0px 0px;
    
    /* backdrop-filter: blur(15px); */
    /* background-color: white; */
}
#viewer_top .video_msg {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);

    /* background-color: yellow; */

    text-align: right;
    /* color: #444444; */
    font-size: 40px;

    height: 100%;
    min-height: 200px;
    max-height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;


    /*
    *   NIGHTMODE-OPTION
    */
    z-index: 110;
}
#viewer_top .video_btn {
    border: 3px solid #ff6c4f;

    color: #ff6c4f;
    text-align: center;
    font-size: 30px;
    font-weight: 500;

    /* width: 50%; */
    width: 266px;
    float: right;
    margin: 30px 0px 0px 0px;
    padding: 7px 0px 7px 0px;

    transition-duration: 0.5s;
}
#viewer_top .video_btn:hover {
    color: white;
    background-color: #ff6c4f;
}
#btn-camera.active > svg {
    fill: #c9c9c9;
}
#btn-mic.on > svg {
    fill: #ff6c4f;
}

#viewer_top #interim_span {
    color: white;
    font-size: 25px;

    background-color: rgba(0, 0, 0, 0.6);
    padding: 0px 5px 0px 5px;

    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);


    /*
    *   NIGHTMODE-OPTION
    */
    z-index: 110;
}
.contents_underbar {
    width: 100%;
    height: 100px;
    
    position: absolute;
    top: 90px;

    background-color: #ff6c4f;

    transition-duration: 0.3s;
}
#viewer_bottom {
    width: 100%;
    height: 100px;
    
    position: relative;

    border: 1px solid #898989;;
    border-radius: 0px 0px 5px 5px;

    background-color: white;

    overflow: hidden;

    display: flex;
    flex-direction: row;
}
#viewer_bottom > #contents_motion {
    width: calc(100% - 130px);
    /* background-color: sienna; */

    border-right: 1px solid #898989;
}
#contents_motion > #motion_text {
    width: calc(100% - 130px);
    height: 100%;
    
    position: absolute;
    bottom: 5px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    /* background-color: teal; */
}
#motion_text * {
    font-size: 32px;
    font-weight: 200;
    /* color: #444444; */

    /*
    *   NIGHTMODE-OPTION
    */
    position: relative;
    z-index: 110;
}
#motion_text strong {
    font-weight: 500;
    color: #166ba2;
}
#viewer_bottom > #contents_link {
    width: 130px;
    position: relative;
    /* background-color: gold; */
}
#viewer_bottom .icon {
    height: 50%;

    position: absolute;
    left: 53%;
    top: 45%;
    transform: translateX(-50%) translateY(-50%);

    z-index: 200;
}
#viewer_bottom .icon:hover {
    fill: white;
}
#unique-token:hover ~ .contents_underbar { top: 0; }
#contents_wrap > #contents_footer {
    text-align: center;
    font-size: 18px;

    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translateX(-50%);
}

#nightmode_wrap {
    width: 5%;
    height: 100%;
    max-height: 1080px;

    /* background-color: turquoise; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#nightmode_wrap > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-70px);


    /*
    *   NIGHTMODE-OPTION
    */
    position: relative;
    z-index: 110;
}
#nightmode_wrap .icon {
    width: 27px;
}
#night_filter {
    pointer-events: none;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.8);
    /* opacity: 0.8; */
    top: 0;
    left: 0;
    position: fixed;
    transition-duration: 2.5s;

    z-index: 100;
}
#night_filter.filter_off {
    background-color: rgba(0, 0, 0, 0);
}