.sg_black {
    color: rgb(68, 68, 68);
}
.sg_white {
    color: rgb(254, 254, 254);
}
.sg_orange {
    color: rgb(255, 108, 79);
}

.white {
    color: white;
}
.black {
    color: black;
}

.hide {
    display: none;
}
.td-0d5 {
    transition-duration: 0.5s;
}